<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="flutter.moum.sim_info">
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:name="io.flutter.app.FlutterApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>
</manifest>
